<% @posts.each do |post| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_check(post) %>
    </div>
    <div class="caption center">
      <h4><%= link_to post.tagline, city_post_path(post.city, post) %></h4>
      <h4><%= post.city.name %></h4>
    </div>
  </div>
<% end %>

