<div id="posts" class='row vdivide'>
  <div class="col-md-6 left-div">
  <h3 class="center">YAY</h3>
    <div class="js-masonry posts-centered" data-masonry-options='{ "itemSelector": ".post", "gutter": 5, "isFitWidth": true }'>
      <% @posts.where(:posts => {:pro_or_con => 1}).each do |post| %>
        <%= render 'posts/post', :post => post %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 right-div">
  <h3 class="center">NAY</h3>
    <div class="js-masonry posts-centered" data-masonry-options='{ "itemSelector": ".post", "gutter": 5, "isFitWidth": true }'>
      <% @posts.where(:posts => {:pro_or_con => 0}).each do |post| %>
        <%= render 'posts/post', :post => post %>
      <% end %>
    </div>
  </div>
</div>