<div id="posts">
  <div id="posts-pro" class="col-md-6">
  <h3 class="center">Pros</h3>
    <% @posts.where(:posts => {:pro_or_con => 1}).each do |post| %>
      <%= render 'posts/post', :post => post %>
    <% end %>
  </div>

  <div id="posts-con" class="col-md-6">
  <h3 class="center">Cons</h3>
    <% @posts.where(:posts => {:pro_or_con => 0}).each do |post| %>
      <%= render 'posts/post', :post => post %>
    <% end %>
  </div>
</div>