<div class="box panel panel-default">
  <p><%= link_to post.tagline, city_post_path(@city, post) %></p>
  <p><%= "Category: " + post.category.name if post.category %></p>
  <div class="panel-body">
    <%= link_to (image_tag post.image.url), city_post_path(@city, post) %>
    <p> Submitted by <%= link_to post.user.name, user_path(post.user) %></p>
  </div>
</div>