// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.becca1 {
	float: left;
}

.becca2 {
	float: right;
}

.clear {
	clear: both;
}

div div.panel-body {
	padding: 5px;
}

div div.post {
	margin: 4%;
}

.big {
	font-size: 20px;
}

.tagline {
	font-size: 18px;
}

.subtext {
	font-size: 12px;
}

div.panel {
	-webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
}

div.city.col-md-4 {
	margin-top: 1%;
	margin-bottom: 1%;
}

/*background-color: #edebe6;*/