// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.becca1 {
	float: left;
}

.becca2 {
	float: right;
}

.clear {
	clear: both;
}

div div.panel-body {
	padding: 5px;
}

div div.post {
	margin: 4%;
}

.big {
	font-size: 20px;
}

.tagline {
	font-size: 18px;
}

.subtext {
	font-size: 12px;
}

div.panel {
	-webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
}

div.city.col-md-4 {
	margin-top: 1%;
	margin-bottom: 1%;
}

/*background-color: #edebe6;*/

.X {
	float: right;
	margin-right: 15px;
	margin-top: -5px;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	opacity: .2;
	clear: both;
}

.user {
	float: left;
	margin-right: 15px;
	margin-top: -5px;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	opacity: .2;
	clear: both;
}

a.X:hover {
	float: right;
	margin-right: 15px;
	margin-top: -5px;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	opacity: .4;
	text-decoration: none;
	clear: both;
}

.selected {
	text-decoration: none;
	color: #000000;
}

.right {
	float: right;
	clear: both;
}

.scorebox {
	/*border: 1px solid #428bca;*/
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	/*background-color: #428bca;*/
	background-color: #B3D1EA;
}

.city-name {
	font-size: 72px;
	margin-top: 10px;
}

.subnav {
	background: rgb(248, 248, 248);
}

.profile_tab {
	background-color: #ecf0f1;
}

.city-name {
	font-family: 'Rock Salt', cursive;
	padding: 25px;
}

#city_score {
	font-family: 'Rock Salt', cursive;
}

.navbar-brand {
	font-family: 'Rock Salt', cursive;
}

/* #headline {
	font-family: 'Rock Salt', cursive;	
} */

span.error {
	text-align: right;
	color: red;
}

