/* line 10, ../sass/_custom.scss */
#wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 940px;
  min-width: 980px;
}

/* line 38, ../sass/_custom.scss */
header {
  padding: 20px;
  top: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 1px;
}
/* line 44, ../sass/_custom.scss */
header h1 {
  display: inline;
  font-size: 200%;
}
/* line 47, ../sass/_custom.scss */
header h1 a {
  color: #adb870;
  text-decoration: none;
}

/* line 2, ../sass/_slider.scss */
#slider {
  position: relative;
  margin: 40px auto 20px auto;
  height: 600px;
  border: 1px solid black;
  border-radius: 2%;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 1px;
  overflow: hidden;
}
/* line 10, ../sass/_slider.scss */
#slider .img {
  position: absolute;
  z-index: 1;
}

#slider .city_name{
  display:block;
  position:absolute;
  top:60%;
  left:35%;
  z-index:2;
  text-align:center;
}

#slider .nav {
  position: absolute;
  width: 100px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#slider .nav.previous {
  z-index: 2;
  left: 0;
  top: 150px;
  background-image: url(left-arrow.png);
}
#slider .nav.next {
  z-index: 2;
  top: 150px;
  right: 0;
  background-image: url(right-arrow.png);
}

#dots ul {
  text-align: center;
}
#dots ul li {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #e8ebd6;
  border: 1px solid #adb870;
  border-radius: 50%;
  cursor: pointer;
}
#dots ul li:hover {
  background-color: #d4dab4;
}
#dots ul li.active {
  background-color: #c1c992;
}

